@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  margin: 0px;
}

.selected-menu:hover {
  background-color: #296eff;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
}

.bg-container {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.Dashboard {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #002159;
  color: #ffffff;
  flex-shrink: 0;
}

.Dashboard h1 {
  text-align: center;
}

.menu {
  height: 80vh;
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu-logo {
  margin: 5px;
}

.profile-link {
  margin-top: auto;
  align-self: center;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  width: 70%;
}

.profile-image {
  height: 6vh;
  border-radius: 50px;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.main-heading {
  color: #002159;
  font-size: 50px;
  margin-left: 20px;
}

.container {
  margin: 15px;
  margin-left: 20px;
  width: 80%;
}

.container p {
  color: #002159;
  font-size: 38px;
  margin: 0px;
  font-weight: 700;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.image-container img {
  width: 200px;
  margin: 10px;
}

@media only screen  and (max-width: 780px) {
  .Dashboard {
    width: 100%;
    height:150px;
  }
  .Dashboard h1{
      font-size: 20px;
  }
  .bg-container{
    display:flex;
    flex-direction:column;
  }
  .selected-menu{
      height: 20px;
  }
  .menu {
  overflow-x: scroll;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  text-align: left;
}
.container1{
    width: 100%;
    max-width: 400px;
}
  .sign-in-form{
      width: 100%;

      padding: 5px;
  }
}

.container1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.sign-in-form {
  margin: 0 auto;
  width:100%;
}

.form-title {
  text-align: center;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 3px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  background-color: #2980b9;
}


.d-none {
  display: none;
}

.cars-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
}

.cars-table th, .cars-table td {
  border: 1px solid #296eff;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

.cars-table th {
  background-color: #f2f2f2;
}

.cars-table tbody tr:hover {
  background-color: #f5f5f5;
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
  .cars-table td, .cars-table th {
    padding: 6px;
  }
}

@media only screen and (max-width: 400px) {
  .cars-table th, .cars-table td {
    font-size: 12px;
    padding: 6px;
  }
}

.table-heading {
  font-size: 25px;
  margin: 10px;
}

th,
td {
  width: 300px;
  text-align: center;
  height: 100px;
}

table,
th,
td {
  border-collapse: collapse;
}

.table {
  height:100vh;
  overflow-y: auto;
  align-self: center;
}

.table::-webkit-scrollbar {
  display: none;
  height: 100vh;
}

.form::-webkit-scrollbar {
  display: none;
  height: 100vh;
}
